<div align="center" class="p-5">

<%= form_for(@article) do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :title %>
  <%= f.label :Content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<br>

<%= link_to 'Back', articles_path, class:"btn btn-secondary p-3 m-2" %>

</div>