<div align="center" class="p-5">
<h1><%= @article.title %></h1><br>
<p><%= @article.content %></p>

<br>

<%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-warning btn-lg m-2 p-3" %>
<%= link_to 'Back', articles_path, class: "btn btn-secondary btn-lg m-2 p-3" %>
<%= link_to "Delete",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-lg m-2 p-3" %>
</div>